<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Id</th>
        <td>{{job.id}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{job.title}}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{job.type}}</td>
    </tr>
    <tr>
        <th>Level</th>
        <td>{{job.level}}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{job.city}}, {{job.country}}</td>
    </tr>
    <tr>
        <th>Posted</th>
        <td>{{job.posted}}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{job.updated}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{job.description}}</td>
    </tr>
    <tr>
        <th>Responsibility</th>
        <td>{{job.responsibility}}</td>
    </tr>
    <tr>
        <th>Qualification</th>
        <td>{{job.qualification}}</td>
    </tr>
    <tr>
        <th>Prefered Qualification</th>
        <td>{{job.prefered_Qualification}}</td>
    </tr>
    <tr>
        <th>Salary Range</th>
        <td>${{job.min_salary}} - ${{job.max_salary}}</td>
    </tr>
    <tr>
        <th>Benefits</th>
        <td>{{job.benefits}}</td>
    </tr>
    <tr>
        <th>Available</th>
        <td>{{job.available}}</td>
    </tr>
</table>